<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <title>Document</title>
</head>

<body>
    <header>


        <nav class="menu-navegacion contenedor">

            <div class="logo">
                <img src="/images/logo.jpg" alt="images logo">
            </div>
            <form action="input" class="buscador">
                <input type="text" name="buscador" class="buscador-entrada" placeholder="Buscar">
            </form>
            <div class="enlaces">

                <li><a href="home.html">home</a></li>
                <li><a href="productDetail.html">shop</a></li>
                <li><a href="register.html">register</a></li>
                <div class="login-carrito">
                    <li><a href="login.html">login</a></li>
                    <li><a href="productCart.html" >carrito</a></li>
                </div>
            </div>



        </nav>
        <!-- 
        <section class="hero">
            <div class="contenedor-texto contenedor">
                <h1>En desarrollo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus dolores maiores eaque dolore
                    officia tempore eum vel obcaecati nihil doloremque expedita fugit, libero magnam ipsum harum
                    voluptatum
                    nesciunt eveniet.</p>
                <a class="boton" href="#">Mas info</a>
            </div>
        </section>
         -->

         <!-- partial:index.partial.html -->
<div class="C-carousel">
    <div class="C-slide"><h1 class="C-slide-title C-slide-title--h1">Vertical / Horizontal carousel</h1></div>
    <div class="C-slide"><div class="C-slide-title">Slide 2</div></div>
    <div class="C-slide"><div class="C-slide-title">Slide 3</div></div>
    <div class="C-slide"><div class="C-slide-title">Slide 4</div></div>
    <div class="C-slide"><div class="C-slide-title">Slide 5</div></div>
  </div>
  
  <div class="pen-controls">
    <button class="js-change-carousel-direction" data-carousel-id="C-carousel-0">Change slider direction</button>
  </div>
  <!-- partial -->
  <script  src="/js/script.js"></script>
    </header>
    <main>
        <section class="contenedor">
            <h2 class="titulo-seccion">Bienvenido a mi pagina web</h2>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores dicta aliquid sapiente esse</p>
            <div class="productos">
                <div class="producto">
                    <h3>Producto 1</h3>
                    <img src="/images/juego1.png" alt="juego 1">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 2</h3>
                    <img src="/images/juego2.png" alt="juego 2">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 3</h3>
                    <img src="/images/juego3.jpeg" alt="juego 3">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>

                <div class="producto">
                    <h3>Producto 1</h3>
                    <img src="/images/juego1.png" alt="juego 1">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 2</h3>
                    <img src="/images/juego2.png" alt="juego 2">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 3</h3>
                    <img src="/images/juego3.jpeg" alt="juego 3">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>
                <div class="producto">
                    <h3>Producto 1</h3>
                    <img src="/images/juego1.png" alt="juego 1">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 2</h3>
                    <img src="/images/juego2.png" alt="juego 2">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 3</h3>
                    <img src="/images/juego3.jpeg" alt="juego 3">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>
                <div class="producto">
                    <h3>Producto 1</h3>
                    <img src="/images/juego1.png" alt="juego 1">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 2</h3>
                    <img src="/images/juego2.png" alt="juego 2">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>


                <div class="producto">
                    <h3>Producto 3</h3>
                    <img src="/images/juego3.jpeg" alt="juego 3">
                    <p class="copy">Lorem ipsum dolor sit amet</p>
                    <a class="boton-Prod" href="#">Comprar</a>
                </div>
            </div>
        </section>
        <section class="ofertas">
            <div class="contenedor">
                <h2 class="titulo-seccion">Ofertas del Mes</h2>
                <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, rerum excepturi qui
                </p>
                <div class="contenedor-imagenes">
                    <img src="/images/productBaner.gif" alt="img1">
                    <img src="/images/ofertasBaner.jpeg" alt="img2">
                    <img src="/images/gameshopBaner.jpg" alt="img3">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <h2 class="titulo-seccion">Contacta conmigo</h2>
        </div>
        <div class="redes-sociales">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-youtube"></i>
        </div>
        <div class="contenedor">
            <p class="copy">Copyright © Todos los derechos reservados</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>

</html>