<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cartProduct.css">
    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
    <script defer src="/js/script.js"></script>
    <title>carrito</title>
</head>

<body>
    <header class="topheader">


        <nav class="menu-navegacion contenedor">


            <a href="#" class="logo"> <img src="/images/logo.jpg" alt="images logo"></a>
            <button class="hamburguesa"><a class="fa-solid fa-bars"></a></button>
            <ul class="menu">
                <button class="cerrar"><a class="fa-solid fa-xmark" aria-label="cerrar menu"></a></button>
                <!--buscador-->



                <button class="fa fa-search" type="submit"><input type="text" placeholder="Search..." autofocus
                        required></button>

                <!--din buscador-->
                <li><a href="home.html">home</a></li>
                <li><a href="productDetail.html">shop</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="login.html">login</a></li>
                <button class="carrito"> <a class="fas fa-shopping-cart"></a></button>
            </ul>



        </nav>
    </header>

    <figure class="producto">
        <img src="/images/juego3.jpeg" alt="PS4">
        <figcaption class="descripcion">
            <h3>FIFA 22</h3>
            <p>Con la potencia de Football™️, EA SPORTS FIFA 22 mejora la experiencia con tecnología de jueg</p>
            <div class="boton">
                <input type="number" class="qtytext" step="1" min="1" max="" name="quantity" value="1" title="Cantidad"
                    size="4" placeholder="" inputmode="numeric">
                <p>Precio:$1800</p>
            </div>

            <div class="botones">
                <button class="BTN">Comprar</button>
                <button class="BTN">Cancelar</button>
            </div>

        </figcaption>
    </figure>


    <!-- footer -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="logo">
                <figure>
                    <a href="index.html" alt="logo">
                        <img src="images/logo.jpg" alt="">
                    </a>
                </figure>
            </div>
            <div class="titulo-nostros">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

            </div>
            <div class="titulo-redes">
                <h2>SEGUINOS</h2>

                <div class="redes">
                    <div class="icon facebook">
                        <div class="tooltip">Facebook</div>
                        <span><i class="fab fa-facebook-f"></i></span>
                    </div>
                    <div class="icon twitter">
                        <div class="tooltip">Twitter</div>
                        <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                        <div class="tooltip">Instagram</div>
                        <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                        <div class="tooltip">Github</div>
                        <span><i class="fab fa-github"></i></span>
                    </div>
                    <div class="icon youtube">
                        <div class="tooltip">Youtube</div>
                        <span><i class="fab fa-youtube"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Copyright">
            <small>&copy; 2022<b>Slee Dw</b>- Todos los Derechos reservados</small>
        </div>
    </footer>
    <!--fin footer-->
</body>

</html>