*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   
    --paddingSecciones:60px 0;
    --marginElementos:40px;


    --texto-color--AzulMarino:#0F044C;
    --header-footer-background--Azul: #141E61;
    --botones-background--gris: #787A91;
    --body-background--grisClaro:#EEEEEE;
}
body{
     background-color: var(--body-background--grisClaro);
     font-family: 'Roboto Slab', serif;
     padding: 10px 20px;
}
li a {
    text-decoration: none;
    color: var(--body-background--grisClaro);
    
}
/*header*/
.topheader{
    
    box-shadow: 0 4px 5px var(--header-footer-background--Azul);
    width: 100%;
    background-color: var(--header-footer-background--Azul);
}

.contenedor{
   
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
/*logo*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    border-radius: 50%;
    width: auto;
    height: 90px;
}

/*fin logo*/

/*menu*/


p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.menu li{
    padding: 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    padding: 0;
    
}
.carrito{
    width: 40px;
    height: 30px;
    font-size: 25px;
    display: block;
    border:none;
    background-color: var(--header-footer-background--Azul);
    
}
 ul  button.carrito  a{
     color:var(--body-background--grisClaro)

 }
/*buscador*/
    
   
ul  button.fa.fa-search{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--header-footer-background--Azul);
    border: none;
    color: var(--body-background--grisClaro);

   }
   ul  button.fa.fa-search input{
    margin-right: 10px;
    width: 150px;
    color: var(--body-background--grisClaro);
   }
    
  
  /*fin buscador*/

.hamburguesa, .cerrar{
    display: none;
}

.menu{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--botones-background--gris);
    opacity: 0;
    justify-content: space-around;
    pointer-events: none;
    transition: opacity 0.3s;
}




.carrito{
    width: 60px;
    margin: 0 auto;
    border-radius: 20px;

}
body header nav ul button .carrito  a{
    display: block;
}
.hamburguesa, .cerrar{
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    
}
.hamburguesa{
    display: flex;
    flex-direction: row-reverse; 
    margin-right: 20px;
}
.cerrar{
    align-self: flex-end;
    padding-right: 30px;
}
.menu-open{
 opacity: 1;
 pointer-events: all;   
}
/*fin menu*/
/*body*/
.producto {
        font-family: 'Roboto', Arial, sans-serif;
        width: 100%;
        background-color: var(--colorAzulMarino);
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: flex;
        padding: 40px 20px;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
      }
      .descripcion{
          text-align: center;
          width: 40vh;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          margin:20px 0;
      }
      body  figure  img{
          width: 35vh;
      }

/*fin body*/
/*footer*/

.pie-pagina{
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-background--Azul);
    padding-top: 20px;
}
.grupo-1{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}

.grupo-1  div figure a  img{
    height: 90px;
    width: auto;
    border-radius: 50%;
    display: none;

}

.titulo-nostros, .titulo-redes{
    text-align: center;
    font-size: 15px;
    color: var(--body-background--grisClaro);
}

/*iconos*/
.redes {
  display: inline-flex;
  flex-wrap: wrap;
  color: var(--header-footer-background--Azul);

}

.redes .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: var(--header-footer-background--Azul);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip::before {
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.redes .icon:hover span,
.redes .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.redes .facebook:hover,
.redes .facebook:hover .tooltip,
.redes .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.redes .twitter:hover,
.redes .twitter:hover .tooltip,
.redes .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.redes .instagram:hover,
.redes .instagram:hover .tooltip,
.redes .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.redes .github:hover,
.redes .github:hover .tooltip,
.redes .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.redes .youtube:hover,
.redes .youtube:hover .tooltip,
.redes .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: var(--colorFondo);
}

.pie-pagina .Copyright{
    background-color: var(--Azul);
    padding: 5px 10px;
    text-align: center;
    color: var(--grisClaro);
}

.pie-pagina .Copyright small{
    font-size: 15px;
}



@media(min-width:600px){
    
    
  body{background-color: #46c1f6;}
  .hamburguesa, .cerrar{
    display: none;
   }
   .menu{
    display: flex;
    flex-direction: row;
    position: initial;
    width: 80%;
    height: auto;
    background-color: var(--header-footer-background--Azul);
    opacity: 1;
    justify-content: space-around;
    pointer-events: all;
    transition: opacity 0.3s;
    color: var(--body-background--grisClaro);
    align-items: center;
}
.carrito{
    width: 60px;
    margin: 0;
    border-radius: 20px;

    
}
